{% extends 'accounts/base.html' %}
{% block content %}


    <div class="auth-form__icon">
        <i class="bi bi-shield-lock"></i>
    </div>

    <h2 class="auth-form__title">Установка нового пароля</h2>

    {% if validlink %}
        <form method="post">
            {% csrf_token %}

            <div class="form-floating mb-3">
                <input type="password"
                       class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
                       id="{{ form.new_password1.id_for_label }}"
                       name="{{ form.new_password1.html_name }}"
                       placeholder="Новый пароль"
                       required>
                <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
                {% if form.new_password1.errors %}
                    <div class="invalid-feedback">
                        {{ form.new_password1.errors }}
                    </div>
                {% endif %}

            </div>

            <div class="form-floating mb-3">
                <input type="password"
                       class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                       id="{{ form.new_password2.id_for_label }}"
                       name="{{ form.new_password2.html_name }}"
                       placeholder="Подтверждение пароля"
                       required>
                <label for="{{ form.new_password2.id_for_label }}">Подтверждение пароля</label>
                {% if form.new_password2.errors %}
                    <div class="invalid-feedback">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
            </div>

            {% if form.new_password1.help_text %}
                <div class="info-block info-block--set-password">
                    <div class="info-block-title info-block-title--set-password">
                        <i class="bi bi-info-circle"></i>
                        Рекомендации
                    </div>
                    {{ form.new_password1.help_text }}
                </div>

            {% endif %}



            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-reset text-white">
                    Сохранить новый пароль
                </button>
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger">
            Ссылка для сброса пароля недействительна. Возможно, она уже была использована или устарела.
            Пожалуйста, запросите новую ссылку для сброса пароля.
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'accounts:password_reset' %}" class="btn btn-reset text-white">
                Запросить новую ссылку
            </a>
        </div>
    {% endif %}
{% endblock %}